.star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
}
.star-svg {
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.star-svg:hover ~ .star-svg,
.star-svg:hover {
    fill: #FFB900;
}